autokeras==2.0.0
Django==5.0.6
emoji==2.12.1
Faker==25.2.0
fastapi==0.111.0
gdown==5.2.0
httptools==0.6.1
nltk==3.8.1
openpyxl==3.1.2
pipdeptree==2.23.0
pipreqs==0.5.0
PySocks==1.7.1
python-dotenv==1.0.1
python-telegram-bot==21.1.1
scikit-learn==1.5.0
secure-smtplib==0.1.1
tensorflow==2.16.1
ultralytics==8.2.51
uvloop==0.19.0
watchfiles==0.21.0
websockets==12.0
